html {
  overflow-x: hidden;
}

body {
  background-color: black;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background: conic-gradient(#1e0467, #a200ff) fixed;
  background: radial-gradient(#3308aa, #a200ff, #3308aa) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-container {
  width: 80vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0px 0px;
}

.title-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 900%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px;
}

.title-subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.purpleBorderLine {
  height: 1px;
  background: #a200ff;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #3308aa, 0 0 0.5em #a200ff, 0 0 0.1em #3308aa, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #3308aa, 0 0 0.5em #a200ff, 0 0 0.1em #3308aa, 0 10px 3px #000;
}

.orangeBorderLine {
  height: 1px;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff3c00, 0 0 0.1em #ff9100, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff3c00, 0 0 0.1em #ff9100, 0 10px 3px #000;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  background: conic-gradient(#ff9100, #ff3c00) fixed;
  background: radial-gradient(#f5f100, #ff3c00, #f5f100) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 600%;
}

.about-para {
  width: 70%;
  font-size: 150%;
}

.aboutLogos {
  width: 100px;
  height: 100px;
  opacity: 0.6;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: column;
      flex-wrap: column;
  height: 100%;
}

.project-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 600%;
  background: conic-gradient(#1e0467, #a200ff) fixed;
  background: radial-gradient(#3308aa, #a200ff, #3308aa) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectHeader {
  font-size: 85%;
}

.projectAbout {
  font-size: 50%;
}

.projectWrap {
  padding: 2px;
  position: relative;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#3308aa), color-stop(#a200ff), to(#3308aa));
  background: linear-gradient(to right, #3308aa, #a200ff, #3308aa);
}

.from-left {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: -webkit-transform 800ms ease-in;
  transition: -webkit-transform 800ms ease-in;
  transition: transform 800ms ease-in;
  transition: transform 800ms ease-in, -webkit-transform 800ms ease-in;
  opacity: 0;
  margin: 5px;
}

.from-right {
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 800ms ease-in;
  transition: -webkit-transform 800ms ease-in;
  transition: transform 800ms ease-in;
  transition: transform 800ms ease-in, -webkit-transform 800ms ease-in;
  opacity: 0;
  margin: 5px;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #3308aa, 0 0 0.5em #a200ff, 0 0 0.1em #3308aa, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #3308aa, 0 0 0.5em #a200ff, 0 0 0.1em #3308aa, 0 10px 3px #000;
}

.projectButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px;
  padding: 2px;
}

.projectOne {
  font-size: 180%;
  color: #ff9100;
  height: 25rem;
  width: 25rem;
  border-radius: 5px;
  background: black;
}

.githubButton {
  color: #19025a;
  cursor: pointer;
  background: #ff9100;
  height: 25px;
  width: 100px;
  border: 1px;
  margin-right: 3px;
  border-radius: 7px;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
}

.githubButton:hover {
  background: #ff3c00;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
}

.visitButton {
  color: #19025a;
  cursor: pointer;
  background: #ff9100;
  height: 25px;
  width: 100px;
  border: 1px;
  margin-left: 3px;
  border-radius: 7px;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
}

.visitButton:hover {
  background: #ff3c00;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
}

.projectTwo {
  font-size: 200%;
  color: #ff9100;
  height: 25rem;
  width: 25rem;
  border-radius: 5px;
  background: black;
}

.projectThree {
  font-size: 200%;
  color: #ff9100;
  height: 25rem;
  width: 25rem;
  border-radius: 5px;
  background: black;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
}

.contact-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 500%;
  background: conic-gradient(#1e0467, #a200ff) fixed;
  background: radial-gradient(#3308aa, #a200ff, #3308aa) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submitButton {
  color: #19025a;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background: #ff9100;
  height: 25px;
  width: 100px;
  border: 1px;
  margin-left: 3px;
  border-radius: 7px;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff9100, 0 0 0.5em #ff9100, 0 0 0.1em #ff9100, 0 10px 3px #000;
}

.submitButton:hover {
  background: #ff3c00;
  -webkit-box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
          box-shadow: 0 -40px 100px, 0 0 3px, 0 0 2em #ff3c00, 0 0 0.5em #ff3c00, 0 0 0.1em #ff3c00, 0 10px 3px #000;
}

.formFont {
  color: #ff9100;
}

.formBox {
  background: #1a0458;
  color: #ff3c00;
  margin: 5px;
  width: 20vw;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: column;
      flex-wrap: column;
}

.socialsMenu {
  position: fixed;
  border-top: #ff3c00 1px solid;
  border-right: #ff3c00 1px solid;
  border-bottom: #ff3c00 1px solid;
  border-radius: 0px 10px 10px 0px;
  width: 75px;
  top: 40vh;
  left: 0;
}

.socialLink {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  opacity: 60%;
}
/*# sourceMappingURL=style.css.map */