

body {
    background-color: black;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1000%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1000%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1000%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1000%;
}