$gradiant-style-one: 
    45deg, 
    #070230,
    #0e035e,
    #250668;

body {
    background-image: linear-gradient($gradiant-style-one);
    background-size: 300%;
    animation: bg-animation 7s infinite;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1000%;
}