

body {
    background-color: black;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 900%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 900%;
}

.about-para {
    width: 70%;
    font-size: 200%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 900%;
}

.projectOne {
    font-size: 200%;
    height: 500px;
    width: 500px;
    border-bottom: hsl(256, 98%, 49%) 5px solid;
    border-right: hsl(257, 92%, 15%) 5px solid;
    border-radius: 5px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: conic-gradient(
        hsl(256, 93%, 21%),
        hsl(278, 100%, 50%)
    ) fixed;
    background: radial-gradient(
        hsl(256, 91%, 35%),
        hsl(278, 100%, 50%),
        hsl(256, 91%, 35%),
    ) fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 900%;
}